<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>吃惊的豆丁</string>
		<key>face_id</key>
		<string>070</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>大哭的豆丁</string>
		<key>face_id</key>
		<string>071</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>昏昏的豆丁</string>
		<key>face_id</key>
		<string>072</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>机智的豆丁</string>
		<key>face_id</key>
		<string>073</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>开心的豆丁</string>
		<key>face_id</key>
		<string>074</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>空白的豆丁</string>
		<key>face_id</key>
		<string>075</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>困困的豆丁</string>
		<key>face_id</key>
		<string>076</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>难过的豆丁</string>
		<key>face_id</key>
		<string>077</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>难受的豆丁</string>
		<key>face_id</key>
		<string>078</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>气鼓鼓的豆丁</string>
		<key>face_id</key>
		<string>079</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>撒娇的豆丁</string>
		<key>face_id</key>
		<string>080</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>丧丧的豆丁</string>
		<key>face_id</key>
		<string>081</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>生气的豆丁</string>
		<key>face_id</key>
		<string>082</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>思考的豆丁</string>
		<key>face_id</key>
		<string>083</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>天真的豆丁</string>
		<key>face_id</key>
		<string>084</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>委屈的豆丁</string>
		<key>face_id</key>
		<string>085</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>未然的豆丁</string>
		<key>face_id</key>
		<string>086</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>嫌弃的豆丁</string>
		<key>face_id</key>
		<string>109</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>兴奋的豆丁</string>
		<key>face_id</key>
		<string>110</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>疑惑的豆丁</string>
		<key>face_id</key>
		<string>111</string>
	</dict>
</array>
</plist>
